<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Caminho da Fé</title>
</head>
<body>
    <nav class="nav-menu">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/resumo">Resumo</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <!-- Adicione mais links conforme necessário -->
        </ul>
    </nav>

    <div class="container">
        <h1>Caminho da Fé</h1>
        <h2>Sobre o Chatbot</h2>
        <p>
            O <strong>Caminho da Fé</strong> é uma ferramenta inovadora que busca facilitar o entendimento das Escrituras Sagradas. Com o intuito de conectar os usuários com a Bíblia, o chatbot fornece trechos bíblicos relacionados a diferentes temas, oferecendo uma explicação simplificada e destacando palavras-chave com suas origens na língua hebraica.
        </p>
        <p>
            Ao interagir com o chatbot, você pode fazer perguntas sobre passagens bíblicas específicas e receber informações detalhadas que ajudarão a aprofundar sua compreensão das Escrituras. O app é projetado para ser acessível a todos, independentemente de seu nível de familiaridade com a Bíblia.
        </p>
        <p>
            Explore a riqueza das mensagens bíblicas e aprofunde sua fé com o <strong>Caminho da Fé</strong>.
        </p>
        <a class="back-link" href="/">Voltar para o início</a>
    </div>
</body>
</html>
